@import "reset.css";
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.hi {
    background-color: #445162;
}

.hi__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 50px 0;
}

.hi__body {
    color: #ffffff;
}

.hi__title {
    font-size: 60px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin: 0 0 40px 0;
}

.hi__list {
    font-size: 20px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.hi__list li {
    margin: 0 0 15px 0;
    background: url("../img/icons/icon.png") 0 0 no-repeat;
    padding: 0 0 0 37px;
}

.hi__list li:last-child {
    margin: 0;
}

.what__row {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.what__imag {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 430px;
    flex: 0 0 430px;
}

.what__body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 38px;
}

.what__title {
    padding: 0 0 36px 0;
}

.what__text p {
    color: #333333;
    margin: 0 0 30px 0;
    font-size: 16px;
    line-height: 24px;
}

.what__text p:last-child {
    margin: 0;
}

.title {
    font-size: 30px;
    color: #445161;
}

.colonki {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.colonki__title {
    text-align: center;
    margin: 0 0 30px 0;
}

.colonki__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.colonki__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    margin: 0 0 10px 0;
    padding: 0 8px;
}

.item__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.item__imag {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    margin: 0 10px 0 0;
}

.item__body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.item__title {
    font-size: 24px;
    color: #445161;
    margin: 0 0 15px 0;
}

.item__text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.container1 {
    max-width: 990px;
    margin: 0px auto;
}

.vertu {
    padding: 50px 0;
}

.vertu__title {
    text-align: center;
    margin: 0 0 30px 0;
}

.vertu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px -22.5px;
}

.vertu__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    padding: 0px 22.5px;
}

.vertu__body {
    max-width: 990px;
    margin: 0px auto;
}

.item2 {
    background-color: #445162;
    border: 1px solid #445162;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}

.item2__title1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 18px;
}

.item2__title2 {
    font-size: 40px;
    color: #445162;
    text-align: center;
    padding: 18px;
    background-color: #ffffff;
}

.item2__text {
    padding: 19px 30px 0 20px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.item2__text p {
    margin: 0px 0px 15px 0px;
}

.item2__text p:last-child {
    margin: 0;
}

.item2__btn {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #445161;
    text-align: center;
    background-color: #fff;
    line-height: 40px;
    margin: 20px;
    border-radius: 10px;
}

.footer {
    background-color: #f5f5f5;
}

.footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 65px;
}

.footer__item {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
}